<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('home_view.render') }}">Shorty</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{{ url_for('home_view.render') }}">Home <span
                        class="sr-only">(current)</span></a>
                {% if user %}
                <a class="nav-item nav-link" href="{{ url_for('dashboard_view.render') }}" id="dashboardLink">Dashboard</a>
                {% endif %}

            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-4">
            <div class="container">
                {% if user %}
                <div class="row">
                    <div class="col-sm-12" id="helloUser">Hello {{user.first_name}} {{user.last_name}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-12" id="auth">
                        <span onclick="logout()">Sign out</span>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>

</header>