{% extends "layout.html" %}
{% block title %} Sign in {% endblock title %}
{% block content %}
<div class="container">
    <form class="col-lg-6 col-md-8 col-sm-10 col-xs-12 login-form" method="post">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="row">
            <div class="col-sm-6">
                <button class="btn btn-md btn-dark">Sign in</button>
            </div>
            <div class="col-sm-6">
                <a href="{{ url_for('auth_view.register') }}" class="btn btn-md btn-outline-dark">Sign up</a>
            </div>
        </div>
        {% if error %}
        <div>
            <div class="alert alert-warning"">{{error}}</div>
            
        </div>
        {% endif %}
    </form>
</div>
{% endblock content %}